<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1 class="text-center">Web Shop</h1>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <p class="text-center">
            &#9400; @DateTime.Now.ToShortDateString() Group 2
        </p>
    </footer>
    @RenderSection("Scripts", required: false)
</body>

</html>
