@model IEnumerable<WebShop.Models.ProductOrderModel>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a href="#" onclick="location.href = '@Url.Action("EditPart", "OrderModel", new {
                                                         OrderId = item.OrderId,
                                                         ProductId = item.ProductId,
                                                         Quantity = item.Quantity })'">Edit</a> |
                    <a href="#" onclick="location.href = '@Url.Action("DeletePart", "OrderModel", new {
                                                         OrderId = item.OrderId,
                                                         ProductId = item.ProductId,
                                                         Quantity = item.Quantity })'">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="#" onclick="location.href = '@Url.Action("AddToOrder", "OrderModel", new {id=Model.ToList()[0].OrderId})'">Add product</a> |
    @*<a asp-action="AddToOrder" asp-route-id="@Model.ToList()[0].OrderId">Add product</a> |*@
    <a asp-action="Index">Back to Orderlist</a>
</div>
